<p>
  <ng-container>
    <div class='mb-[8px] flex items-center'>
      <div class='text-[16px] text-[#2C1F50] font-medium'>Danh sách tài khoản</div>
    </div>

    <div>Action</div>
  </ng-container>

  <nz-table nzBordered #basicTable [nzData]="[{
    key: '1',
    name: 'John Brown',
    age: 32,
    address: 'New York No. 1 Lake Park'
  }]">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</p>