@import "./styles/color.scss";

.app-root {
  height: 100vh;

  &.ant-layout {
    flex-direction: row;
  }

  .main-container {
    background-color: $light;

    .section-content {
      padding: 16px 24px;
    }
  }
}