app-sidebar {
  nz-layout {
    height: 100vh;

    .logo {
      padding: 1.6rem 1.2rem;
    }

    .ant-input-affix-wrapper {
      margin: 0 1.2rem 0.8rem;
      width: -webkit-fill-available;
      height: 3.6rem;
      border: 0;
      background-color: $purple-2;
      border-radius: 4px;

      input {
        background-color: $purple-2;
        border-radius: 4px;
        color: $white;
      }
    }

    .ant-layout-sider-children,
    .ant-menu.ant-menu-dark,
    .ant-menu-sub.ant-menu-inline,
    .ant-menu-dark .ant-menu-inline.ant-menu-sub,
    .ant-menu-item {
      background-color: $purple;
      border-right: 0;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      font-size: 1.4rem;
      line-height: 2rem;
      color: $white !important;
      max-width: 100%;

      img {
        margin-right: 1.2rem;
      }

      &:hover {
        color: $white !important;
        opacity: 0.8;

        span {
          color: $white;
          opacity: 0.8;
        }
      }
    }

    .ng-star-inserted {
      .ant-menu-item {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }

    .ant-menu-item {
      margin: 0 !important;
    }

    .ant-menu-item-selected {
      background-color: $purple-1 !important;
      border-left: 4px solid $orange;
      border-right: 0;

      span {
        margin-left: 0 !important;
      }

      &::after {
        display: none;
      }
    }
  }
}
